<ion-header class="map-header">
  <ion-toolbar class="map-toolbar">
    <ion-title size="large">Trigger Map</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="contentt" scroll-x="true" [fullscreen]="true">
  <div id="city" class="img-container">
    <img #animation class="world-map" />

    <img
      #pin1
      id="pin1"
      class="green-pin-1"
      src="../../assets/images/green-pin.svg"
    />
    <img
      #pin2
      id="pin2"
      class="green-pin-2"
      src="../../assets/images/green-pin.svg"
    />
    <img
      #pin3
      id="pin3"
      class="green-pin-3"
      src="../../assets/images/green-pin.svg"
    />
    <img
      #pin4
      id="pin4"
      class="green-pin-4"
      src="../../assets/images/green-pin.svg"
    />
    <img
      #pin5
      id="pin5"
      class="green-pin-5"
      src="../../assets/images/green-pin.svg"
    />
    <img
      #pin6
      id="pin6"
      class="green-pin-6"
      src="../../assets/images/green-pin.svg"
    />

    <div *ngFor="let trigger of triggers">
      <img
        *ngIf="!trigger.showInfo"
        (click)="clickPin($event)"
        class="{{trigger.class}}"
        src="{{trigger.closed}}"
        id="{{trigger.id}}"
      />
      <img
        *ngIf="trigger.showInfo"
        (click)="clickPin($event)"
        class="{{trigger.class}}"
        src="{{trigger.opened}}"
        id="{{trigger.id}}"
      />
    </div>

    <img
      #pin11
      id="pin11"
      (click)="clickPin($event)"
      class="purple-pin"
      src="../../assets/images/purple-pin.svg"
    />
  </div>
</ion-content>
