
<ion-content [ngClass]="migraineS ? 'migraine-ion-content' : 'no-migraine-ion-content'" [fullscreen]="true">

  <p class="migraine-text"> I have a migraine </p>
  <div class="button-container">
    <img #animation class="migraine-image-animation-1" src="assets/images/animation-circle.png" />
    <button *ngIf="!migraineS" class="migraine-button" (click)="startRecording()" block>
      <img class="migraine-image" src="assets/images/migraine-button.svg" />
    </button>
    <button *ngIf="migraineS" class="migraine-button" (click)="showMigraineActiveAlert()" block>
      <img class="migraine-image" src="assets/images/migraine-button-green.svg" />
    </button>
  </div>
</ion-content>
